/* @font-face {
  font-family: "Inconsolata";
  src: url("fonts/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-variation-settings:
    "wdth" 100, "wght" 200;
}

@font-face {
  font-family: "Recursive";
  src: url("fonts/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-variation-settings:
    "wght" 100, "MONO" 200, "CASL" 0;
}

@font-face {
  font-family: "InconsolataRegular";
  src: url("fonts/Inconsolata-Regular.ttf") format("truetype");

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@font-face {
  font-family: "Fuggles";
  src: url("fonts/Fuggles-Regular.ttf") format("truetype");

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Recursive";
  src: url("fonts/Recursive-Light.ttf") format("truetype");
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-mono: "Inconsolata", monospace;
  /* --font-regular: "InconsolataRegular", sans-serif; */

  --text-base: 16px;

  --spacing-*: initial;
  --spacing-1: 2px;
  --spacing-2: 5px;
  --spacing-3: 10px;
  --spacing-4: 15px;
  --spacing-5: 20px;
  --spacing-6: 30px;
  --spacing-6-7: 45px;
  --spacing-7: 60px;
  --spacing-8: 100px;
}

@layer base {

  img,
  video {
    width: 100%;
  }

  p,
  span,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono text-base cursor-default;
  }

  a {
    @apply cursor-pointer;
  }

  .animation {
    animation: myAnim 3s infinite;
  }

  @keyframes myAnim {

    0%,
    50%,
    100% {
      color: red;
    }

    25%,
    75% {
      color: blue;
    }
  }
}